{% block content %}
    <div align="left">
        <form  name="new_operation" enctype="multipart/form-data" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div>
                <p><b>Выберите тип операции</b></p>
                <p><input name="operation" type="radio" value="b" id="op_buy">
                    <label for="op_buy">Продажа </label></p>
                <p><input name="operation" type="radio" value="s" checked id="op_sell">
                    <label for="op_sell">Покупка</label></p>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="sell">
                        <div class="input-group">
                            <div style="width:315px;" class="input-group-addon val_1_desc">
                                Сумма для покупки-получения
                            </div>
                            <input class="val_1" name="summ_1" type="number" step="0.01"
                                   min="0" style="width:100px; height: 30px">
                        </div>
                        <p></p>
                        <div class="input-group">
                            <div style="width:315px;" class="input-group-addon cur_1_desc">
                                Валюта для покупки-получения
                            </div>
                            <select name="currency_1" class="cur_1" style="width:100px; height: 30px">
                                <option value="usd">USD</option>
                                <option value="eur">EUR</option>
                                <option value="rub">RUB</option>
                                <option value="cad">CAD</option>
                                <option value="chf">CHF</option>
                                <option value="gbp">GBP</option>
                                <option value="pln">PLN</option>
                            </select>
                        </div>
                        <p></p>
                        <div class="input-group">
                            <div style="width:315px;" class="input-group-addon cur_2_desc">
                                Валюта для продажи-выдачи
                            </div>
                            <select disabled name="currency_2" class="cur_2"
                                    style="width:100px; height: 30px">
                                <option value="uah">UAH</option>
                            </select>
                        </div>
                        <br>
                        <div class="input-group">
                            <div style="width:315px;" class="input-group-addon val_2_desc">
                                Сумма для продажи-выдачи, грн
                            </div>
                            <input {% if not role %}readonly {% endif %}class="val_2" name="summ_2" type="number"
                                   step="0.01" min="0" style="width:100px; height: 30px" id="input">
                        </div>
                    </div>
                    <br>
                </div>
                <br>

                <div align="left">
                    <button type="submit" class="btn btn-primary" name="check"
                            id="button_send" disabled>
                        Совершить операцию</button>
                    <button  type="submit" onclick="checkParams();" class="btn
                            btn-default" name="calculate">
                        Предварительный рассчёт</button>
                </div>
            </div>
        </form>
    <script type="text/javascript">
        function checkParams() {
            $('#button_send').prop("disabled", false);

        }
    </script>
    </div>
{% endblock %}