{% block content %}

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Произведённые операции</div>
        <!-- Table -->
        <table class="table table-bordered">
            <tr>
                <th>№</th>
                <th>Дата и время</th>
                {% if role %}
                    <th>Кассир</th>
                {% endif %}
                <th>Коментарий</th>
                <th>UAH</th>
                <th>USD</th>
                <th>EUR</th>
                <th>RUB</th>
                <th>CAD</th>
                <th>CHF</th>
                <th>GBP</th>
                <th>PLN</th>
                <th>Удаление</th>
            </tr>
            <tr class="info">
                <td></td>
                <td >Остаток на <p>{{ rest_money_data.date }}</p></td>
                <td>-</td>
                {% if role %}
                    <td>-</td>
                {% endif %}
                <td>{{ rest_money_data.uah }}</td>
                <td>{{ rest_money_data.usd }}</td>
                <td>{{ rest_money_data.eur }}</td>
                <td>{{ rest_money_data.rub }}</td>
                <td>{{ rest_money_data.cad }}</td>
                <td>{{ rest_money_data.chf }}</td>
                <td>{{ rest_money_data.gbp }}</td>
                <td>{{ rest_money_data.pln }}</td>
                <td>-</td>
            </tr>
            {% if actions %}
                {% for action in actions %}
                <tr
                        {% if ("У" == action.action_comment[0]) %}
                            style="color: #ac2925"
                        {% elif ("В" == action.action_comment[0]) %}
                            style="color: #e38d13;"
                        {% elif ("Increase" == action.action_type) %}
                            style="color: #2b669a"
                        {% elif ("Encashment" == action.action_type) %}
                            style="color: #985f0d"
                        {% elif ("Exchange" == action.action_type) %}
                            style="color: #2b542c"
                        {% endif %}
                >
                    <td>{{ action.action.id }}</td>
                    <td>{{ action.action.operation_date }},
                        {{ action.action.operation_time }}</td>
                    {% if role %}
                        <td>{{ action.action.person_surname }}</td>
                    {% endif %}
                    <td>{% if ("Increase" == action.action_type) %}
                            Подкрепление;
                        {% elif ("Encashment" == action.action_type) %}
                            {% if ("В" == action.action_comment[0]) %}
                            {% else %}
                                Инкассация;
                            {% endif %}
                        {% elif ("Exchange" == action.action_type) %}
                            Обмен;
                        {% endif %}
                        <p>{{ action.action_comment }}</p></td>
                    <td>{{ action.currency_changes.uah or '-' }}</td>
                    <td>{{ action.currency_changes.usd or '-' }}</td>
                    <td>{{ action.currency_changes.eur or '-' }}</td>
                    <td>{{ action.currency_changes.rub or '-' }}</td>
                    <td>{{ action.currency_changes.cad or '-' }}</td>
                    <td>{{ action.currency_changes.chf or '-' }}</td>
                    <td>{{ action.currency_changes.gbp or '-' }}</td>
                    <td>{{ action.currency_changes.pln or '-' }}</td>
                    {% if role and action.action.possibility_of_operation %}
                        <form  name="encashment_form" enctype="multipart/form-data" method="post">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <td>
                                <button style="width: 90px;" type="submit" class="btn btn-default"
                                        name="delete_operation" value="{{ action.action.id }}">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    Удалить
                                </button>
                            </td>
                        </form>
                    {% elif not role or not action.action.possibility_of_operation %}
                        <td>
                            Невозможно
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr class="info">
                    <td></td>
                    <td>Текущий остаток {{ actions[-1].action.operation_date }},
                        {{ actions[-1].action.operation_time }}</td>
                    <td>-</td>
                    {% if role %}
                        <td>-</td>
                    {% endif %}
                    <td>{{ actions[-1].money_balance_data.uah }}</td>
                    <td>{{ actions[-1].money_balance_data.usd }}</td>
                    <td>{{ actions[-1].money_balance_data.eur }}</td>
                    <td>{{ actions[-1].money_balance_data.rub }}</td>
                    <td>{{ actions[-1].money_balance_data.cad }}</td>
                    <td>{{ actions[-1].money_balance_data.chf }}</td>
                    <td>{{ actions[-1].money_balance_data.gbp }}</td>
                    <td>{{ actions[-1].money_balance_data.pln }}</td>
                    <td></td>
                </tr>
            {% endif %}
        </table>
    <br>
    <table class="table table-bordered">
        <tr>
            <th>Дата</th>
            <th>UAH</th>
            <th>USD</th>
            <th>EUR</th>
            <th>RUB</th>
            <th>CAD</th>
            <th>CHF</th>
            <th>GBP</th>
            <th>PLN</th>
        </tr>
        <tr>
            {% if actions %}
                <td>Прибыль {{ actions[-1].action.operation_date }}</td>
                <td>{{ profit_balance.uah }}</td>
                <td>{{ profit_balance.usd }}</td>
                <td>{{ profit_balance.eur }}</td>
                <td>{{ profit_balance.rub }}</td>
                <td>{{ profit_balance.cad }}</td>
                <td>{{ profit_balance.chf }}</td>
                <td>{{ profit_balance.gbp }}</td>
                <td>{{ profit_balance.pln }}</td>
            {% endif %}
        </tr>
        <tr class="success" >
            <td>И того, чистая прибыль составила</td>
            <td>
                {{
                        profit_balance.uah +
                        profit_balance.usd*exchange_rate_data.usd_sell +
                        profit_balance.eur*exchange_rate_data.eur_sell +
                        profit_balance.rub*exchange_rate_data.rub_sell +
                        profit_balance.cad*exchange_rate_data.cad_sell +
                        profit_balance.chf*exchange_rate_data.chf_sell +
                        profit_balance.gbp*exchange_rate_data.gbp_sell +
                        profit_balance.pln*exchange_rate_data.pln_sell
                        }} UAH
            </td>
        </tr>
    </table>
    </div>
{% endblock %}