{% block content %}

        <div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
            <ul class="nav nav-pills nav-stacked">
                {% if role %}
                <li>
                    <button style="width:220px;" type="button" class="btn btn-default"
                            data-toggle="modal" data-target="#Support">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Подкрепление
                    </button>
                    <div class="modal fade" id="Support" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            {% block support_form %}
                                {% include 'forms/support_form.html' %}
                            {% endblock %}
                        </div>
                    </div>
                </li>
                <li>
                    <button style="width:220px;" type="button" class="btn btn-default"
                            data-toggle="modal" data-target="#Encashment">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        Инкассация
                    </button>
                    <div class="modal fade" id="Encashment" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            {% block encashment_form %}
                                {% include 'forms/encashment_form.html' %}
                            {% endblock %}
                        </div>
                    </div>
                </li>
                {% endif %}
                <li>
                    {% block special_operation %}
                        {% include 'elements/special_operation.html' %}
                    {% endblock %}
                </li>
            </ul>
        </div>

{% endblock %}