{% block content %}
    <p></p><div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
        <ul class="nav nav-pills nav-stacked">
                <li>
                    <button title="Выделение денег кассе для работы" style="width:100%;"
                            type="button" class="btn btn-default"
                            data-toggle="modal" data-target="#Support">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Подкрепление
                    </button>
                    <div class="modal fade" id="Support" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            {% block support_form %}
                                {% include 'forms/support_form.html' %}
                            {% endblock %}
                        </div>
                    </div>
                </li>
                <li>
                    <button title="Инкассация определённой суммы" style="width:100%;"
                            type="button" class="btn btn-default" data-toggle="modal"
                            data-target="#Encashment">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        Инкассация
                    </button>
                    <div class="modal fade" id="Encashment" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            {% block encashment_form %}
                                {% include 'forms/encashment_form.html' %}
                            {% endblock %}
                        </div>
                    </div>
                </li>
            {% if 'ChiefCashier' in role %}
                <li>
                    <button title="Выделение деенег на нужды кассы" style="width:100%;"
                            type="button" class="btn btn-default" data-toggle="modal"
                            data-target="#CashboxWaste">
                        <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
                        Траты на кассу
                    </button>
                    <div class="modal fade" id="CashboxWaste" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            {% block cashbox_waste %}
                                {% include 'forms/cashbox_waste.html' %}
                            {% endblock %}
                        </div>
                    </div>
                </li>
            {% endif %}
            <li>
                <button title="Записка для администратора" style="width:100%;"
                        type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#Scrap">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                    Записка администратору
                </button>
                <div class="modal fade" id="Scrap" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        {% block scrap_to_admin_form %}
                            {% include 'forms/scrap_to_admin.html' %}
                        {% endblock %}
                    </div>
                </div>
            </li>
            <li>
                <button title="Запрос на выделение средств" style="width:100%;"
                        type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#WaistingRequest">
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                    Запрос на выделение средств
                </button>
                <div class="modal fade" id="WaistingRequest" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        {% block money_request_form %}
                            {% include 'forms/money_request.html' %}
                        {% endblock %}
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}