{% block content %}
<div class="container-fluid cont-wrap ng-scope">
    <div class="row">
        <div class="col-sm-3">
            <p></p>
            {% block exchange_rate %}
                {% include 'elements/exchange_rate.html' %}
            {% endblock %}
        </div>
        <div class="col-sm-9">
            <div class="panel-body">
                <form action="" method="post">
                В выпадающем списке выберите кассу и укажите интересующую дату.
                <p></p>
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <select name="selected_cashbox">
                        {% for cashbox in users %}
                            <option value="{{ cashbox.id }}">{{ cashbox.cashier_description_short }}</option>
                        {% endfor %}
                    </select>
                    <p>
                    {% block search %}
                        {% include 'elements/search_by_date.html' %}
                    {% endblock %}
                    <p></p>
                    <button type="submit" name="date_info" class="btn btn-default">
                        Поиск
                    </button>
                </form>
                {% if data %}
                <p>
                    <h4>Вы просматриваете информацию о кассе -
                        <b>
                            <a title="{{ exchange_rate_info.cashbox.cashier_description_full }}"
                               href="/view-cashbox/{{ exchange_rate_info.cashbox.id }}">
                                {{ exchange_rate_info.cashbox }}
                            </a>
                        </b>;
                        <br> За {{ actions[0].action.operation_date }} число.</h4>
                </p>
                    {% block transaction_table %}
                        {% include 'elements/transaction_table.html' %}
                    {% endblock %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}