{% block content %}
<body>
<div class="container-fluid cont-wrap ng-scope">
    <div class="row">
        <div class="col-sm-3">
            <h4><b>Все кассы:</b></h4>
            {% for element in users %}
                <a href="/view-cashbox/{{ element.id }}">
                    <p></p>
                    <button type="button" class="btn btn-default btn-small"
                            data-toggle="tooltip" data-placement="left"
                            style="width: 80%"
                            title="{{ element.cashier_description_full }}">
                        <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                        {{ element.cashier_description_short }}
                    </button>
                </a>
            {% endfor %}
        </div>
        <div class="col-sm-9">
            <h3>Для создания кассы заполните <strong>все</strong> поля:</h3>
            <h3>
                {% if error %}
                <div style="width: 560px" class="alert alert-danger">
                    <h4><strong>ВНИМАНИЕ !!!</strong></h4>
                    Пользователь с таким именем уже существует.
                </div>
                {% endif %}
            </h3>
            <br>
            <form  name="new_cashbox" enctype="multipart/form-data" method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div class="input-group">
                        <div style="width:200px;" class="input-group-addon">
                            Логин
                        </div>
                        <input style="height: 30px" maxlength="150" name="username"
                               type="text" required>
                    </div>
                <p class="help">Логин юзера который будет использоваться для
                            входа в аккаунт.</p>
                <div class="input-group">
                        <div style="width:200px;" class="input-group-addon">
                            Пароль
                        </div>
                        <input style="height: 30px" maxlength="150" name="password"
                               type="password" required>
                    </div>
                <p class="help">Пароль для входа в аккаунт</p>
                <p class="help">Выберите тип кассы</p>
                <p><input name="cashbox_type" type="radio" checked
                          value="OrdinaryCashier">
                    <label for="op_buy">Обычная касса </label></p>
                <p><input name="cashbox_type" type="radio" disabled value="Supervisor">
                    <label for="op_sell">Наблюдатель</label></p>
                <p><input name="cashbox_type" type="radio"  disabled value="ChiefCashier">
                    <label for="op_sell">Администратор</label></p>
                <div class="input-group">
                        <div style="width:200px;" class="input-group-addon">
                            Полное описание кассы
                        </div>
                    <textarea style="height: 100px" required name="description_full"
                              maxlength="600" class="form-control" rows="4">
                    </textarea>
                </div>
                <p class="help">Введите полное описание кассы</p>
                <div class="input-group">
                        <div style="width:200px;" class="input-group-addon">
                            Краткое название
                        </div>
                    <input style="height: 30px" maxlength="100" name="description_short"
                               type="text" required>
                </div>
                <p class="help">Введите краткое название кассы, оно будет отображаться
                    в качастве имени
                </p>
                <div class="input-group">
                    <table class="table">
                        <tr>
                            <th>Валюта</th>
                            <th>Покупка</th>
                            <th>Продажа</th>
                        </tr>
                        <tr>
                            <td>USD</td>
                            <td>
                                <input required value="0" name="usd_buy" type="number"
                                       step="0.01" min="0" style="width:100px; height: 30px">
                            </td>
                            <td>
                                <input required value="0" name="usd_sell" type="number"
                                       step="0.01" min="0" style="width:100px; height: 30px">
                            </td>
                        </tr>
                        <tr>
                            <td>EUR</td>
                            <td>
                                <input required value="0" name="eur_buy" type="number"
                                       step="0.01" min="0" style="width:100px; height: 30px">
                            </td>
                            <td>
                                <input required value="0" name="eur_sell" type="number"
                                       step="0.01" min="0" style="width:100px; height: 30px">
                            </td>
                        </tr>
                        <tr>
                            <td>RUB</td>
                            <td>
                                <input required value="0" name="rub_buy" type="number"
                                       step="0.001" min="0" style="width:100px; height: 30px">
                            </td>
                            <td>
                                <input required value="0" name="rub_sell" type="number"
                                       step="0.001" min="0" style="width:100px; height: 30px">
                            </td>
                        </tr>
                        <tr>
                            <td>CAD</td>
                            <td>
                                <input required value="0" name="cad_buy" type="number"
                                       step="0.01" min="0" style="width:100px; height: 30px">
                            </td>
                            <td>
                                <input required value="0" name="cad_sell" type="number"
                                       step="0.01" min="0" style="width:100px; height: 30px">
                            </td>
                        </tr>
                        <tr>
                            <td>CHF</td>
                            <td>
                                <input required value="0" name="chf_buy" type="number"
                                       step="0.01" min="0" style="width:100px; height: 30px">
                            </td>
                            <td>
                                <input required value="0" name="chf_sell" type="number"
                                       step="0.01" min="0" style="width:100px; height: 30px">
                            </td>
                        </tr>
                        <tr>
                            <td>GBP</td>
                            <td>
                                <input required value="0" name="gbp_buy" type="number"
                                       step="0.01" min="0" style="width:100px; height: 30px">
                            </td>
                            <td>
                                <input required value="0" name="gbp_sell" type="number"
                                       step="0.01" min="0" style="width:100px; height: 30px">
                            </td>
                        </tr>
                        <tr>
                            <td>PLN</td>
                            <td>
                                <input required value="0" name="pln_buy" type="number"
                                       step="0.01" min="0" style="width:100px; height: 30px">
                            </td>
                            <td>
                                <input required value="0" name="pln_sell" type="number"
                                       step="0.01" min="0" style="width:100px; height: 30px">
                            </td>
                        </tr>
                    </table>
                    <p class="help">Введите актуальные для кассы курсы валют, точность
                        до 2 знаков после запятой
                    </p>
                </div>
                <div>
                    <button type="submit" class="btn btn-default" data-toggle="tooltip"
                            data-placement="left" onclick="this.style.display='none';">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Сохранить
                    </button>
                    <button type="reset" class="btn btn-default"
                            data-toggle="tooltip" data-placement="left">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Очистить поля
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}