{% block content %}
<body>
<div class="container-fluid cont-wrap ng-scope">
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-9">
            <h3>Изменение кассы - {{ cashbox_data.cashier_description_short }}:</h3>
            <br>
            <form  name="new_cashbox" enctype="multipart/form-data" method="post">
                {% csrf_token %}
                    <div class="input-group">
                        <div style="width:200px;" class="input-group-addon">
                            Логин
                        </div>
                        <input style="height: 30px" maxlength="150" name="username"
                               type="text" required
                               value="{{ cashbox_data.user.username }}">

                    </div>
                <p class="help">Логин юзера который будет использоваться для
                            входа в аккаунт.</p>
                <div class="input-group">
                        <div style="width:200px;" class="input-group-addon">
                            Пароль
                        </div>
                        <input style="height: 30px" maxlength="150" name="password"
                               type="password" required>
                    </div>
                <p class="help">Пароль для входа в аккаунт</p>
                <div class="input-group">
                        <div style="width:200px;" class="input-group-addon">
                            Полное описание кассы
                        </div>
                    <textarea style="height: 100px" required name="description_full"
                              maxlength="600" class="form-control" rows="4">
                        {{ cashbox_data.cashier_description_full }}
                    </textarea>
                </div>
                <p class="help">Введите полное описание кассы</p>
                <div class="input-group">
                        <div style="width:200px;" class="input-group-addon">
                            Краткое название
                        </div>
                    <input style="height: 30px" maxlength="100" name="description_short"
                           type="text" required
                           value="{{ cashbox_data.cashier_description_short }}">
                </div>
                <p class="help">Введите краткое название кассы, оно будет отображаться
                    в качастве имени
                </p>
                <div class="input-group">
                    <table class="table">
                        <tr>
                            <th>Валюта</th>
                            <th>Покупка</th>
                            <th>Продажа</th>
                        </tr>
                        <tr>
                            <td>USD</td>
                            <td>
                                <input required name="usd_buy" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.usd_buy }}">
                            </td>
                            <td>
                                <input required name="usd_sell" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.usd_sell }}">
                            </td>
                        </tr>
                        <tr>
                            <td>EUR</td>
                            <td>
                                <input required name="eur_buy" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.eur_buy }}">
                            </td>
                            <td>
                                <input required name="eur_sell" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.eur_sell }}">
                            </td>
                        </tr>
                        <tr>
                            <td>RUB</td>
                            <td>
                                <input required name="rub_buy" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.rub_buy }}">
                            </td>
                            <td>
                                <input required name="rub_sell" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.rub_sell }}">
                            </td>
                        </tr>
                        <tr>
                            <td>CAD</td>
                            <td>
                                <input required name="cad_buy" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.cad_buy }}">
                            </td>
                            <td>
                                <input required name="cad_sell" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.cad_sell }}">
                            </td>
                        </tr>
                        <tr>
                            <td>CHF</td>
                            <td>
                                <input required name="chf_buy" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.chf_buy }}">
                            </td>
                            <td>
                                <input required name="chf_sell" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.chf_sell }}">
                            </td>
                        </tr>
                        <tr>
                            <td>GBP</td>
                            <td>
                                <input required name="gbp_buy" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.gbp_buy }}">
                            </td>
                            <td>
                                <input required name="gbp_sell" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.gbp_sell }}">
                            </td>
                        </tr>
                        <tr>
                            <td>PLN</td>
                            <td>
                                <input required name="pln_buy" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.pln_buy }}">
                            </td>
                            <td>
                                <input required name="pln_sell" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.pln_sell }}">
                            </td>
                        </tr>
                    </table>
                    <p class="help">Введите актуальные для кассы курсы валют, точность
                        до 2 знаков после запятой
                    </p>
                </div>
                <div>
                    <button type="submit" class="btn btn-default"
                            data-toggle="tooltip" data-placement="left">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Сохранить
                    </button>
                    <button type="reset" class="btn btn-default"
                            data-toggle="tooltip" data-placement="left">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Очистить поля
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
{% endblock %}