{% block content %}
  <footer class="blockquote-footer" style="background: #faebcc">
      <div align="center" class="panel-footer">Beginning with 17.04.2017<br>
          You can contact with support and administrator via mail:
          <a href="mailto:cashmanagerhelp@gmail.com">cashmanagerhelp@gmail.com</a>
          <a href="/wiki" title="Руководство пользователя">
                  <p></p>
                  <button style="width: 100px;margin-right: 10px;" type="button" class="btn btn-default" >
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                      Помощь
                  </button>
          </a>
      </div>
  </footer>
{% endblock %}