{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <a class="navbar-brand" href="/index" title="Переход к рабочему месту">
              <img style="max-width:60px; margin-top: -22px;"
                   src="/static/image/logo.svg" alt="Index page">
          </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          {% if role %}
          <ul class="nav navbar-nav">
              <li role="presentation" class="active">
                  <a href="/private" title="Переход в личный кабинет" style="margin-right: 10px;">
                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      Личный кабинет
                      {% if admin_messages %}
                          <span class="badge">{{ admin_messages }}</span>
                      {% endif %}
                  </a>
              </li>
          </ul>
          {% endif %}

          {% if surname %}
              <ul class="nav navbar-nav">
                  <li role="presentation" class="active">
                      <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                      <label style="margin-top: 15px">Добро пожаловать,
                          {{ surname }}!</label>
                  </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <a href="/logout" title="Выход из системы">
                      <p></p>
                      <button style="width: 100px;" type="button" class="btn btn-default" >
                          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                          Выход
                      </button>
                  </a>
              </ul>
          {% endif %}
          {% if not surname %}
              <ul class="nav navbar-nav navbar-right">
                  <a href="/login">
                      <p></p>
                      <button style="width: 100px;" type="button" class="btn btn-default" >
                          <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                          Вход
                      </button>
                  </a>
              </ul>
          {% endif %}
          <ul class="nav navbar-nav navbar-right">
              <a href="/wiki" title="Руководство пользователя">
                  <p></p>
                  <button style="width: 100px;margin-right: 10px;" type="button" class="btn btn-default" >
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                      Помощь
                  </button>
              </a>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <a href="/home" title="Переход на главную страницу">
                  <p></p>
                  <button style="width: 160px;margin-right: 10px;" type="button"
                          class="btn btn-default" >
                      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                      Главная страница
                  </button>
              </a>
          </ul>
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}