{% block content %}
<div style="margin-left: 100px; margin-right: 200px">
    <font size="5">Добро пожаловать в систему <b>ExchangeHelper!</b></font>
    <br>
    <font size="4">
        <p><p><b>ExchangeHelper</b> - система предназначенная для помощи в работе кассирам и администраторам пунктов обмена валют.</p>
        <hr>
        <p>В системе предусмотрены три вида пользователей: <b>рядовые кассиры</b>,
            <b>администраторы</b>, <b>наблюдатели</b>.</p>
        <p><b>Рядовой кассир</b> имеет возможность производить обменные операции, отслеживать баланс в кассе, в режиме рального времени,
            запрашивать выделение денежной помощи и т.д.<p>
            <b>Администратор</b> имеет более широкий функционал:
            <ul>
                <li>Добавление сумм в кассу</li>
                <li>Инкассация средств</li>
                <li>Произведение операций на всех кассах</li>
                <li>Удаление последних операций</li>
                <li>Редактирование/создание касс</li>
                <li>Редактирование курсов валют</li>
                <li>Создание записей о тратах на нужды кассы</li>
                <li>и т.д.</li>
            </ul>
        <b>Наблюдатель</b> может просматривать те же страницы что и администратор, только не
        может вносить какие-либо изменения.
            <p>Более подробную информацию о возможностях системы, а так же руководство
                пользователя можно увидеть на
                <a href="/wiki">
                    wiki-странице
                </a>.
            <p>P.S. Имеется возможномть изменить функционал администратора/кассира/наблюдателя индивидуально.
    </font>
</div>
{% endblock %}