{% block content %}
<div style="margin-left: 100px; margin-right: 200px">
    <h3 align="center">Добро пожаловать в систему <b>ExchangeHelper!</b></h3>
    <br>
    <p><b>ExchangeHelper</b> - система предназначенная для помощи в
    работе кассирам и администраторам пунктов обмена валют.</p>
    <hr>
    <p>В системе предусмотрены два вида пользователей: <b>рядовые кассиры</b> и
        <b>администраторы</b>.</p>
    <p><b>Рядовой кассир</b> имеет возможность <i>производить обменные операции[в
        процессе]</i>, отслеживать баланс в кассе, в режиме рального времени,
        запрашивать выделение денежной помощи либо инкассации определённой суммы у
        администратора - односторонняя связь с главным кассиром.
    </p>
    <p>
        <b>Администратор</b> имеет более широкий функционал:
        <ul>
            <li>Добавление сумм в кассу</li>
            <li>Инкассация средств</li>
            <li>Произведение операций на всех кассах</li>
            <li>Удаление операций</li>
            <li>Редактирование/создание касс</li>
            <li>Редактирование курсов валют</li>
            <li>Создание записей о тратах на нужды кассы</li>
            <li>и т.д.</li>
        </ul>
        <p>Более подробную информацию о возможностях системы, а так же руководство
            пользователя можно увидеть на
            <a href="/wiki">
                wiki-странице
            </a>.
        <p>P.S. Имеется возможномть изменить функционал администратора/кассира индивидуально.
</div>
{% endblock %}