{% block content %}
<div class="container-fluid cont-wrap ng-scope">
    <div class="row">
        <div class="col-sm-3">
            {% if 'OrdinaryCashier' in role %}
                <p></p>
                {% block exchange_rate %}
                    {% include 'elements/exchange_rate.html' %}
                {% endblock %}
            {% elif 'ChiefCashier' in role %}
                {% block user_create %}
                    {% include 'elements/user_create.html' %}
                {% endblock %}
            {% endif %}
        </div>
        <div class="col-sm-9">

            {% include 'forms/admins_warnings.html' %}

            <div>
                {% if 'OrdinaryCashier' in role %}
                    <div class="panel-body">
                    <a href="/view-cashbox/{{ user_inform.id }}">
                        <p></p>
                        <button type="button" class="btn btn-default btn-small"
                                data-toggle="tooltip" data-placement="left">
                            <h4><strong>{{ user_inform.cashier_description_short }}</strong></h4>
                        </button>
                    </a>
                    <p></p>
                    <h4>{{ user_inform.cashier_description_full }}</h4>
                    <p></p>
                {% endif %}
                {% if 'ChiefCashier' in role or 'Supervisor' in role %}
                    <h4><b>Все кассы:</b></h4><p>
                    {% for element in users %}
                        <a href="/view-cashbox/{{ element.id }}">
                            <button type="button" class="btn btn-default btn-small"
                                    data-toggle="tooltip" data-placement="left"
                                    style="width: 30%"
                                    title="{{ element.cashier_description_full }}">
                                <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                                {{ element.cashier_description_short }}
                            </button>
                        </a>
                        <p></p>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}