{% block content %}
      <div align="center"  class="panel panel-default" style="background: url(/static/image/fone.jpg)">
          <!-- Default panel contents -->
          <div class="panel-heading">Форма входа</div>
          <div class="container" align="center">
              <br>
              <form action="" method="post" class="form-inline">
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                  <input required type="text" class="form-control" name="surname"
                         placeholder="Фамилия и инициалы">

                  <input required type="text" class="form-control" name="username"
                         placeholder="Введите Ваш ЛОГИН">

                  <input required type="password" class="form-control" name="password"
                         placeholder="Введите Ваш ПАРОЛЬ">
                  <p><br>
                  <input class="btn btn-default" type="submit" value="Вход">
                  </p>
              </form>
          </div>
          {% if error %}
              <h4><strong><font size="5" color="red" face="Arial">
                  {{error}}
              </font></strong></h4>
          {% endif %}
      </div>
{% endblock %}