<html>
        <header>
            <link href="/static/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
            <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
            <title>Money Exchange Helper</title>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/index">
                            <img style="max-width:60px; margin-top: -22px;"
                                 src="/static/image/logo.svg" alt="Index page">
                        </a>
                    </div>
                </div><!-- /.container-fluid -->
            </nav>
        </header>
    <body>
      <div align="center"  class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Login form</div>
          <div class="container" align="center">
              <br>
              <form action="" method="post" class="form-inline">
                  {% csrf_token %}
                  <input required type="text" class="form-control" name="username"
                         placeholder="Фамилия и инициалы"
                         value= "{{request.form.username}}">

                  <input required type="text" class="form-control" name="username"
                         placeholder="Введите Ваш ЛОГИН"
                         value= "{{request.form.username}}">

                  <input required type="password" class="form-control" name="password"
                         placeholder="Введите Ваш ПАРОЛЬ"
                         value="{{request.form.password}}">
                  <p><br>
                  <input class="btn btn-default" type="submit" value="Вход">
                  </p>
              </form>
          </div>
          <h4><strong><font size="5" color="red"
                            face="Arial">
              {{error}}
          </font></strong></h4>
      </div>
      {% block footer %}
          <p>{% include 'footer.html' %}</p>
      {% endblock %}
  </body>
</html>