{% block content %}
    <div id="underf">
        <style type="text/css">
            #underf{
                float: left;
                color: blue;
                width: 100%;
            }
        </style>
        <div id="somephoto">
            <style type="text/css">
                #somephoto{
                    float: left;
                    margin-top: 10px;
                    margin-left: 20px;			}
            </style>
            <img src="/ExchangeHelper/static/image/favicon.jpg" style="max-width:100px;">
        </div>
        <div>
            <div id="namew">
                <style type="text/css">
                    #namew{
                        float: left;
                        margin-left: 20px;
                        margin-top: 10px;
                    }
                </style>
                <a href="/">Somename</a>
            </div>
            <div id="textblock">
                <style type="text/css">
                    #textblock{
                        float: left;
                        margin-left: 20px;
                        margin-top: 25px;
                    }
                </style>
                <h3>Moooooore text</h3>
            </div>
        </div>
        <div id="butt_ed">
            <style type="text/css">
                #butt_ed{
                    float: right;
                    margin-left: 20px;
                    margin-top: 25px;
                }
            </style>
            <button type="button" value="Edit">Edit</button>
        </div>
    </div>
{% endblock %}