{% block content %}
<div class="container-fluid cont-wrap ng-scope">
    <div class="row">
        <div class="col-sm-3">
            {% block user_menu %}
                {% include 'elements/user_menu.html' %}
            {% endblock %}

            <p></p>
            {% block exchange_rate %}
                {% include 'elements/exchange_rate.html' %}
            {% endblock %}
        </div>
        <div class="col-sm-9">
            {% if error %}
                {% block err %}
                    {% include 'mistakes/operation_error.html' %}
                {% endblock %}
            {% endif %}
            <div class="panel-body">
                <h3><strong>{{ user_inform.cashier_description_short }}</strong></h3>
                {% if role %}
                    <a href="/edit-cashbox/{{ id }}">
                        <button style="width: 160px;" type="button" class="btn btn-default" >
                            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                            Редактировать
                        </button>
                    </a>
                {% endif %}
                {% block available_funds %}
                    {% include 'elements/available_funds.html' %}
                {% endblock %}
                <p></p>
                <h4>{{ user_inform.cashier_description_full }}</h4>
                <br>
                {% block new_operation_form %}
                    {% include 'elements/new_operation.html' %}
                {% endblock %}
                <p></p>
                {% block transaction_table %}
                    {% include 'elements/transaction_table.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}