{% block content %}
<div style="margin-left: 100px; margin-right: 200px">
    <font size="5">Добро пожаловать на wiki-страницу <b>ExchangeHelper!</b></font>
    <font size="4"><p><p></p><b>Администратор</b>
    <br>Интерфейс администратора состоит из следующих пунктов <i>(более подробная
    информация расписана в конце)</i>:
    <ul>
        <li>1. <u>Рабочее место</u> <i>(для перехода нажмите на изображение слева сверху)</i></li>
        На главной странице располагаются следующие элементы:
        <ul>
            <li>1. "Создать новую кассу";</li>
            <li>2. Cписок всех доступных для работы касс.</li>
        </ul>
        <li>2. <u>Личный кабинет</u></li>
        В личном кабинете администратора располагаются следующие элементы:
        <ul>
            <li>1. "Создать новую кассу";</li>
            <li>2. "Записки";</li>
            <li>2. Cписок всех записок, в хронологическом порядке, и
        интерфейс для их удаления.</li>
        </ul>
        <li>3. <u>Список всех касс</u></li>
        В выпадающем списке всех касс администратор может выбрать интересующую его
        кассу и перейти к более детальному просмотру;
        <li>4. <u>Главная страница</u></li>
        Краткое описание проекта;
        <li>5. <u>Помощь</u></li>
        Страница с помощью юзеру;
        <li>6. <u>Отчёт</u></li>
        Страница с отчётами о работе касс их операциями и прибылями;
        <li>7. <u>Выход</u></li>
        Кнопка Выхода/Входа в аккаунт;
    </ul>
    <hr>
    <b>Подробное описание всех элементов и возможностей администратора</b>
    <ul>
        <li>1. <u>Касса</u></li>
        В кассе администратора, так же как и в любой другой кассе для пользователя
        со специальными правами, предоставлены следующие возможности в меню:
        <ul>
            <li>1. "Подкрепление"</li>
            Администратор имеет право выделить определённую сумму для работы кассы. Для
            этого он должен нажать на кнопку "Подкрепление", в появившемся окне
            обязательно ввести сумму подкрепления, выбрать валюту и при желании
            написать коментарий к данной операции, затем нажать кнопку "Поддержать" и
            введённая сумма окажется на балансе открытой кассы. Для отмены следует
            нажать кнопку "Закрыть";
            <li>2. "Инкассация"</li>
            Инкассация - обратное действие подкрепления, администратор имеет право
            инкассировать определённую сумму из кассы. Для этого он должен нажать на
            кнопку "Инкассация", в появившемся окне обязательно ввести сумму
            инкассации, выбрать валюту и при желании написать коментарий к данной
            операции, затем нажать кнопку "Утвердить" и введённая сумма спишется со счёта
            открытой кассы. Для отмены следует нажать кнопку "Закрыть";
            <li>3. "Траты на кассу"</li>
            Траты на кассу - администратор имеет возможность выделить определённую сумму
            из главной кассы на определённые <i>(бытовые и иные)</i> нужды другой кассы.
            Для этого он должен нажать на кнопку "Траты на кассу", в появившемся окне
            обязательно ввести сумму выделений, выбрать валюту и обязательно написать
            коментарий к операции, затем нажать кнопку "Утвердить" и введённая сумма
            спишется со счёта главной кассы. Для отмены следует нажать кнопку "Закрыть";
            <li>4. "Записки"</li>
            Интерфейс который предостваляется не только лишь администратору, но и
            обычному пользователю и является интерфейсом односторонней связи
            <i>"рядовой кассир -> администратор"</i>. Для создания новой записки
            требуется нажать на "Записки" и в появившемся окне заполнить причину
            записки, при надобности также введите требуемую сумму, валюту и обязательно
            напишите коментарий, затем нажмите кнопку "Отправить". Для отмены следует
            нажать кнопку "Закрыть".
            Если записка была создана то у администратора
            рядом с надписью "Личный кабинет" появится оповещение в виде цифры -
            колличества активных записок, при переходе в кабинет - отобразится список
            всех записок и появится возможность для их удаления.
            <li>5. Курс валют</li>
            Под меню юзера находится таблица с курсом валют, а у администратора ещё и
            интерфейс для изменения курса. Для изменения курса потребуется нажать
            кнопку "Изменить" и в появившемся окне изменить прежний курс валют на
            акутаульный, затем нажать кнопку "Сохранить изменения". Для отмены следует
            нажать кнопку "Закрыть".
            При изменении курса валют чистая прибыль кассы будет пересчитана для
            актуального курса.
            <li>6. Редактирование</li>
            Под названием кассы расположена кнопка для редактирования аккаунта кассы
            <i>(подробнее про это написано ниже - "Редактирование кассы")</i>.
            <li>7. Доступные средства</li>
            Под названием кассы расположена таблица с актуальным остатком денег в кассе.
            <li>8. Форма создания новой операции</li>
        </ul>
        <li>2. <u>"Создать новую кассу"</u></li>
        При нажатии на кнопку для создания новой кассы, администратор переходит на
        страницу с частично заполненными формами. Для корректного создания кассы
        администратор должен обязательно заполнить поля:
            <ul>
                <li><i><u>Логин</u></i> - вписывается данные для входа пользователя;</li>
                <li><i><u>Пароль</u></i> - пароль для входа пользователя;</li>
                <li>Полное описание кассы - полное описание кассы, рекомандуется
                    вписывать общую информацию о кассе, её место положение и другую
                    важную информацию;</li>
                <li><i><u>Краткое название</u></i> - краткое название кассы, по которому
                    будет легко её идентифицировать в списке с остальными элементами;</li>
                <li><i><u>Таблица с курсами валют</u></i> <sub>не обязательна к
                    заполнению</sub> - присутствует таблица со списком валют, ценой
                    покупки, ценой продажи основных валют в кассе, может быть заполнена
                    актуальным курсом валют.</li>
            </ul>
            После окончания заполнения всех полей
        <li>3. <u>"Редактирование кассы"</u></li>

    </ul>
    <hr>
    <b>Рядовой кассир</b>
    </font>
</div>
{% endblock %}