{% block content %}
<div style="margin-left: 100px; margin-right: 200px">
    <h3 align="center">Добро пожаловать на wiki-страницу <b>ExchangeHelper!</b></h3>
    <b>Администратор</b>
    <br>Интерфейс администратора состоит из следующих пунктов <i>(более подробная
    информация расписана после списка элементов)</i>:
    <ul>
        <li>1. <u>Рабочее место</u></li>
        На главной странице располагаются следующие элементы:
        <ul>
            <li>1. "Создать новую кассу";</li>
            <li>2. Cписок всех доступных для работы касс.</li>
        </ul>
        <li>2. <u>Личный кабинет</u></li>
        В личном кабинете администратора располагаются следующие элементы:
        <ul>
            <li>1. "Создать новую кассу";</li>
            <li>2. "Записки";</li>
            <li>2. Cписок всех записок, в хронологическом порядке, и
        интерфейс для их удаления.</li>
        </ul>
        <li>3. <u>Касса администратора</u></li>
        В кассе администратора, так же как и в любой другой кассе для пользователя
        со специальными правами, предоставлены следующие возможности в меню пользователя:
        <ul>
            <li>1. "Подкрепление";</li>
            <li>2. "Инкассация";</li>
            <li>3. "Записки";</li>
            <li>4. В таблице с курсом валют присутствует возможность изменить курс;</li>
            <li>5. Под кратким описанием-названием кассы присутствует кнопка
                "Редактировать", которая при нажатии направляет администратора в
                интерфейс для редактирования информации о кассе;</li>
            <li>6. В такблице "Произведённые операции" в последнем столбце
                присутствует интерфейс для удаления выполненных операций.</li>
        </ul>
    </ul>
    <hr>
    <b>Подробное описание всех элементов и возможностей администратора</b>
    <ul>
        <li>
            <u>"Создать новую кассу"</u>. При нажатии на кнопку для создания новой
                кассы, администратор переходит на страницу с частично заполненными
            формами. Для корректного создания кассы администратор должен обязательно
            заполнить поля:
            <ul>
                <li><i><u>Логин</u></i> - вписывается данные для входа пользователя;</li>
                <li><i><u>Пароль</u></i> - пароль для входа пользователя;</li>
                <li>Полное описание кассы - полное описание кассы, рекомандуется
                    вписывать общую информацию о кассе, её место положение и другую
                    важную информацию;</li>
                <li><i><u>Краткое название</u></i> - краткое название кассы, по которому
                    будет легко её идентифицировать в списке с остальными элементами;</li>
                <li><i><u>Таблица с курсами валют</u></i> <sub>не обязательна к
                    заполнению</sub> - присутствует таблица со списком валют, ценой
                    покупки, ценой продажи основных валют в кассе, может быть заполнена
                    актуальным курсом валют.</li>
            </ul>
            После окончания заполнения всех полей
        </li>
    </ul>
    <hr>
    <b>Рядовой кассир</b>
</div>
{% endblock %}