{% block content %}
<p></p><div style="width: 90%" class="alert alert-danger">
    {% if 'ChiefCashier' in role or 'Supervisor' in role %}
        <p>Для администратора и наблюдателя добавлено <strong><a href="/cashbox-monitoring/">"Окно мониторинга" всех касс</a>.</strong>
        <p>Функция предоставлена в ознакомительных целях.
        Все пожелания/предложения/замечания по данной функции желательно так же высылать на
        <strong><a href="mailto:cashmanagerhelp@gmail.com">почту</a></strong>.
                <hr>
    {% endif %}
    <h4><strong>**** ВНИМАНИЕ ****</strong></h4>
    При возникновении ошибок(желтый экран с надписями на английском), просьба сообщать сразу же админу.
    <p>В сообщении указать: <strong>точное время, кассу и после/во время каких действий отобразилась данная ошибка</strong>.</p>
<p>Так же скопировать первые две строки сообщения об ошибке, либо же предоставить скриншот экрана
    (кнопка <strong>PrtSc</strong>, в верхней правой/центральной части клавиатуры, а затем комбинацию
    "<strong>Ctrl</strong>, левый нижний угол клавиатуры, <strong>+V</strong>" при написании письма).</p>
    <p>Писать <strong><a href="mailto:cashmanagerhelp@gmail.com">админу</a></strong>.
    <p></p>
    <h4><strong>*** ВНИМАНИЕ ***</strong></h4>
    Изменён порядок удаления операций:
    <p>Имеется возможность удалить лишь <b>последнюю</b> совершённую операцию!</p>
    <p>Для удаления всех прочих операций - обращаться к
        <strong><a href="mailto:cashmanagerhelp@gmail.com">админу</a></strong>.
    <p>В письме указать: <strong>название кассы, номер(а) операци(и/й) и причину удаления.</strong>
    <p>Затем дождаться выполнения удаления, около 10-15 минут, при этом желательно не проводить новых обменных операций.
</div>
{% endblock %}