{% block content %}
<p></p><div style="width: 60%" class="alert alert-danger">
    <h4><strong>ВНИМАНИЕ !!!</strong></h4>
    Изменён порядок удаления операций:
    <p>Имеется возможность удалить лишь <b>последнюю</b> совершённую операцию!</p>
    <p>Для удаления всех прочих операций - обращаться к
        <strong><a href="mailto:cashmanagerhelp@gmail.com">админу</a></strong>.
    <p>В письме указать: <strong>название кассы, номер(а) операци(и/й) и причину удаления.</strong>
    <p>Затем дождаться выполнения удаления, около 10-15 минут, при этом желательно не проводить новых обменных операций.
    {% if 'ChiefCashier' in role or 'Supervisor' in role %}
        <hr>
        <p>Для администратора и наблюдателя добавлено <strong><a href="/cashbox-monitoring/">"Окно мониторинга" всех касс</a>.</strong>
        <p>Функция предоставлена в ознакомительных целях.
        Все пожелания/предложения/замечания по данной функции желательно так же высылать на
        <strong><a href="mailto:cashmanagerhelp@gmail.com">почту</a></strong>.
    {% endif %}
</div>
{% endblock %}