{% block content %}
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
                Введите средства для инкассации</h4>
        </div>

        <div class="modal-body">
            <div align="center">
                <form  name="encashment_form" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <div class="input-group">
                        <div style="width:315px;" class="input-group-addon">
                            Введите сумму для инакассации
                        </div>
                        <input required name="encashment_summ" type="number" step="0.01"
                               min="0" style="width:100px; height: 30px">
                    </div>

                    <p><div class="input-group">
                        <div style="width:315px;" class="input-group-addon">
                            Выберите валюту
                        </div>
                        <select style="width:100px; height: 30px" name="currency">
                            <option value="uah">UAH</option>
                            <option value="usd">USD</option>
                            <option value="eur">EUR</option>
                            <option value="rub">RUB</option>
                            <option value="cad">CAD</option>
                            <option value="chf">CHF</option>
                            <option value="gbp">GBP</option>
                            <option value="pln">PLN</option>
                        </select>
                    </div>

                    <p><div class="input-group">
                        <div style="width:210px;" class="input-group-addon">
                            Введите коментарий к операции
                        </div>
                        <div style="width:180px;" class="form-group">
                            <textarea name="comment" class="form-control" rows="2">
                            </textarea>
                        </div>
                    </div>

                    <p><div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Закрыть
                        </button>
                        <button type="submit" name="encashment_btn" class="btn btn-primary">
                            Утвердить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}