{% block content %}
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
                Добавьте средства для поддержки обменного пункта
            </h4>
        </div>

        <div class="modal-body">
            <div align="center">
                <form  name="support" enctype="multipart/form-data" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <table class="table table-bordered">
                        <tr>
                            <th>Валюта</th>
                            <th>Имеется в кассе</th>
                            <th>Сумма к начислению</th>
                            <th>Курс купли</th>
                        </tr>
                        <tr>
                            <td>UAH</td>
                            {% if actions %}
                                <td>
                                    {{ actions[-1].money_balance_data.uah }}
                                </td>
                            {% else %}
                                <td>
                                    {{ rest_money_data.uah }}
                                </td>
                            {% endif %}
                            <td>
                                <input required name="uah_support" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="0">
                            </td>
                            <td>
                                <input required hidden name="uah_increase_exchange_rate"
                                       type="number" step="0.01" min="0" style="width:100px; height: 30px"
                                       value="1">
                            </td>
                        </tr>
                        <tr>
                            <td>USD</td>
                            {% if actions %}
                                <td>
                                    {{ actions[-1].money_balance_data.usd }}
                                </td>
                            {% else %}
                                <td>
                                    {{ rest_money_data.usd }}
                                </td>
                            {% endif %}
                            <td>
                                <input required name="usd_support" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="0">
                            </td>
                            <td>
                                <input required name="usd_increase_exchange_rate"
                                       type="number" step="0.01" min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.usd_sell }}">
                            </td>
                        </tr>
                        <tr>
                            <td>EUR</td>
                            {% if actions %}
                                <td>
                                    {{ actions[-1].money_balance_data.eur }}
                                </td>
                            {% else %}
                                <td>
                                    {{ rest_money_data.eur }}
                                </td>
                            {% endif %}
                            <td>
                                <input required name="eur_support" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="0">
                            </td>
                            <td>
                                <input required name="eur_increase_exchange_rate"
                                       type="number" step="0.01" min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.eur_sell }}">
                            </td>
                        </tr>
                        <tr>
                            <td>RUB</td>
                            {% if actions %}
                                <td>
                                    {{ actions[-1].money_balance_data.rub }}
                                </td>
                            {% else %}
                                <td>
                                    {{ rest_money_data.rub }}
                                </td>
                            {% endif %}
                            <td>
                                <input required name="rub_support" type="number" step="0.001"
                                       min="0" style="width:100px; height: 30px"
                                       value="0">
                            </td>
                            <td>
                                <input required name="rub_increase_exchange_rate"
                                       type="number" step="0.001" min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.rub_sell }}">
                            </td>
                        </tr>
                        <tr>
                            <td>CAD</td>
                            {% if actions %}
                                <td>
                                    {{ actions[-1].money_balance_data.cad }}
                                </td>
                            {% else %}
                                <td>
                                    {{ rest_money_data.cad }}
                                </td>
                            {% endif %}
                            <td>
                                <input required name="cad_support" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="0">
                            </td>
                            <td>
                                <input required name="cad_increase_exchange_rate" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.cad_sell }}">
                            </td>
                        </tr>
                        <tr>
                            <td>CHF</td>
                            {% if actions %}
                                <td>
                                    {{ actions[-1].money_balance_data.chf }}
                                </td>
                            {% else %}
                                <td>
                                    {{ rest_money_data.chf }}
                                </td>
                            {% endif %}
                            <td>
                                <input required name="chf_support" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="0">
                            </td>
                            <td>
                                <input required name="chf_increase_exchange_rate" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.chf_sell }}">
                            </td>
                        </tr>
                        <tr>
                            <td>GBP</td>
                            {% if actions %}
                                <td>
                                    {{ actions[-1].money_balance_data.gbp }}
                                </td>
                            {% else %}
                                <td>
                                    {{ rest_money_data.gbp }}
                                </td>
                            {% endif %}
                            <td>
                                <input required name="gbp_support" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="0">
                            </td>
                            <td>
                                <input required name="gbp_increase_exchange_rate" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.gbp_sell }}">
                            </td>
                        </tr>
                        <tr>
                            <td>PLN</td>
                            {% if actions %}
                                <td>
                                    {{ actions[-1].money_balance_data.pln }}
                                </td>
                            {% else %}
                                <td>
                                    {{ rest_money_data.pln }}
                                </td>
                            {% endif %}
                            <td>
                                <input required name="pln_support" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="0">
                            </td>
                            <td>
                                <input required name="pln_increase_exchange_rate" type="number" step="0.01"
                                       min="0" style="width:100px; height: 30px"
                                       value="{{ exchange_rate_data.pln_sell }}">
                            </td>
                        </tr>
                        <tr>
                            <td>Фамилия/данные инкассатора</td>
                            <td colspan="3">
                                <input name="comment" class="form-control" required>
                            </td>
                        </tr>
                    </table>

                    <p><div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Закрыть
                        </button>
                        <button type="submit" name="support_btn" class="btn btn-primary"
                                onclick="this.style.display='none';">
                            Поддержать
                        </button>
                    </div>
                </form>
            </div>
        </div>
</div>
{% endblock %}